@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definición de variables para el tema claro */
:root {
  --background2: #ededed;
  --background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
  background-blend-mode: normal,color-burn;
  --foreground: #19152c;
  --primary: #6bc5d1;
  --secondary: #532874;
  --success: #6dbd8f;
  --matchcolor: #19152c;
}

/* Definición de variables para el tema oscuro */
[data-theme="dark"] {
  --background2: #19152c;
  --background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  background-blend-mode: multiply;
  /* --background: linear-gradient(to bottom, #D5DEE7 0%, #19152c 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
  background-blend-mode: normal,color-burn; */
  --foreground: #ededed;
  --primary: #6bc5d1;
  --secondary: #532874;
  --success: #6dbd8f;
  --matchcolor: #19152c;
}



/* Estilos generales */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-sizing: border-box;
}

a {
  color: var(--foreground);
  text-decoration: none;
}

/* a:hover {
  color: var(--secondary);
} */

/* li a:hover {
  color: var(--secondary);
  text-decoration: underline solid;
  text-decoration-thickness: 3px; /* Grosor 
  text-decoration-color: var(--secondary); /* Color 
  text-underline-offset: 8px; /* Distancia del texto 
} */

button {
  background-color: var(--foreground);
  color: var(--background2);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover{
  background-color: var(--primary);
  color: var(--background2);
}


h1 {
  color: var(--foreground);
}

/*       DECORACION MODO OBSCURO       */

[data-theme="dark"] button:hover {
  background-color: var(--background2);
  color: var(--foreground);
}

  /* [data-theme="dark"] button {
    background-color: var(--success);
  }

  [data-theme="dark"] li a:hover {
    color: var(--success);
    text-decoration: underline solid;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--success); 
    text-underline-offset: 8px; 
  }

  [data-theme="dark"] a:hover {
    color: var(--success);
  } */
/*____________________________________*/


/* Fuentes por defecto */
body {
  font-family: var(--font-inter), sans-serif; /* Fuente principal para párrafos */
}

/* Estilo para títulos */
h1,
h2,
h3 {
  font-family: var(--font-poppins), sans-serif; /* Fuente para títulos */
  font-weight: 700;
}

/* Estilo para botones */
button {
  font-family: var(--font-open-sans), sans-serif; /* Fuente para botones */
  font-weight: 600;
}

/* Estilo para descripciones */
p {
  font-family: var(--font-inter), sans-serif; /* Fuente para párrafos */
  line-height: 1.6; /* Mejora la legibilidad */
}
