[data-theme="light"] .notactive {
    box-shadow: 2px 4px 6px var(--foreground);
    background: var(--background2);
}

[data-theme="dark"] .notactive {
    box-shadow: 2px 4px 6px var(--foreground);
    background: var(--background2);
}

[data-theme="light"] .active {
    background: var(--foreground);
    box-shadow: 2px 4px 6px var(--foreground);
}

[data-theme="dark"] .active {
    background: var(--foreground);
    box-shadow: 2px 4px 6px var(--foreground);
}