/* Estilo para sección hero */
.hero-title {
    font-family: var(--font-poppins), sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
  }
  
  .hero_description {
    font-family: var(--font-inter), sans-serif;
    font-size: 1.2rem;
  }