.focus {
    border-bottom: 4px solid var(--foreground);
}

[data-theme="dark"] .tests:hover {
    color: var(--secondary);
}
/*       DECORACION MODO OBSCURO       */

[data-theme="dark"] .barra a{
    color: var(--background2);
}


[data-theme="dark"] .phone{
    background-color: transparent;
    color: var(--background2);
}

[data-theme="dark"] .phone:hover{
    background-color: var(--background2);
    color: var(--foreground);
}

/*____________________________________*/