/* .btn button{
    background-color: var(--background2);
    color: var(--foreground);
}

.btn button:hover{
    background-color: aqua;
} */


[data-theme="ligth"] .btn button{
    background-color: var(--foreground);
    color: var(--background2);
}

/*       DECORACION MODO OBSCURO       */
[data-theme="dark"] .btn button{
    background-color: var(--background2);
    color: var(--foreground);
}

[data-theme="dark"] .btn button:hover{
    opacity: 0.87;
}

[data-theme="dark"] .btn button:focus{
    opacity: 0.87;
}

/*____________________________________*/
