/*       DECORACION MODO OBSCURO       */

[data-theme="dark"] .ico{
    background-color: transparent;
    color: var(--foreground);
}

[data-theme="dark"] .ico:hover{
    background-color: var(--foreground);
    color: var(--background2);
}
/*____________________________________*/
